{{ with .Site.Params.team }}
<section class="feature-list section"> <!-- <section class="feature-list section">-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!--<div class="heading">
                      <h2>{{ .title }}</h2>
                      <h4 style="text-decoration: none">{{ .subtitle}}</h4>
                  </div>-->
        <div class="heading">           
          <h2>{{ .title }}</h2>
          <h4 style="text-decoration: none">{{ .text }}</h4>
        </div> 
       {{- end }}
      </div>
    </div>
    <div class="row flexbox{{ if .Site.Params.team.center }} flexbox-center{{ end }}">
      {{ range .Site.Params.team.members }}
        <div class="col-sm-4 col text-center">
          <div class="team-member">
            <a href="{{ .url }}">
            <img style="border: 4px solid #135FB2; border-radius: 50%; vertical-align: middle; height: 150px; width: 150px; margin-bottom: 10px;" src="images/team/{{ .img }}" alt="{{ .name }}" height="150px" width="150px">
            <h3 style="color: #333;">{{ .name | markdownify }}</h3>
            
            {{ with .position }}
            <h4 style="color: #333;">{{ . | markdownify }}</h4>
            {{ end }}

            {{ with .livesIn }}
            <h5 style="color: #333;">Lives in {{ . | markdownify }}</h5>
            {{ end }}
            
            </a>

            <ul class="list-inline social-buttons">
            {{ with .twitter }}
            <li><a href="http://twitter.com/{{ . }}"><i style="color: #135FB2; display: inline-block; width: 30px;" class="tf-ion-social-twitter"></i></a></li>
            {{ end }}
            {{ with .github }}
            <li><a href="http://github.com/{{ . }}"><i style="color: #135FB2; display: inline-block; width: 30px;" class="tf-ion-social-github"></i></a></li>
            {{ end }}
            </ul>

            {{ with .bio }}
            <p class="team-bio">{{ . | markdownify }}</p>
            {{ end }}

          </div>
        </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="large text-muted">{{ with .Site.Params.team.description }}{{ . | markdownify }}{{ end }}</p>
      </div>
    </div>
  </div>
</section>